name: CD Back-end

on:
  workflow_dispatch:
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Deploy Railway
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Instalação do cliente Railway
        run: npm install -g @railway/cli
      - name: Deploy
        working-directory: sgcmapi/
        run: railway up --detach --service sgcmapi
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
